@font-face {
    font-family: 'Yekan';
    src: url('./Yekan-Font-master/Yekan.eot');
    /* IE9 Compat Modes */
    src: url('./Yekan-Font-master/Yekan.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('./Yekan-Font-master/Yekan.woff2') format('woff2'),
        /* Modern Browsers */
        url('./Yekan-Font-master/Yekan.woff') format('woff'),
        /* Modern Browsers */
        url('./Yekan-Font-master/Yekan.otf') format('opentype'),
        /* Open Type Font */
        url('./Yekan-Font-master/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    text-rendering: optimizeLegibility;
    font-display: auto;
}

body {
    font-family: "yekan";
}

.nz {
    background-color: #577590;
}

.bbb,
#va {
    color: white;
}

#ban {
    background-color: #e9d8a6;
}

#more {
    display: none;
}

.ws h1 {
    color: #0A9396;
}

.ws p {
    text-shadow: 2px 2px 3px #57759049;
}


.ani {
    position: relative;
    animation: MoveUpDown 4s linear infinite;
}

@keyframes MoveUpDown {

    0%,
    100% {
        bottom: 0;
    }

    50% {
        bottom: 20px;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 0.95rem;
}

body {
    background-color: #f3f3f3;
}

#starred {
    box-shadow: 3px 3px 10px #b5b5b5;
}

.table div.text-muted {
    font-size: 0.85rem;
    font-weight: 600;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
}

.icons {
    object-fit: contain;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.graph img {
    object-fit: contain;
    width: 40px;
    height: 50px;
    transform: scale(2) rotateY(45deg);
}

.graph .dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid #fff;
    position: absolute;
    background-color: blue;
    box-shadow: 1px 1px 1px #a5a5a5;
    top: 25px;
}

.graph .dot:after {
    background-color: #fff;
    content: '$9,999.00';
    font-weight: 600;
    font-size: 0.7rem;
    position: absolute;
    top: -25px;
    left: -20px;
    box-shadow: 1px 1px 2px #a5a5a5;
    border-radius: 2px;
}

.font-weight-bold {
    font-size: 1.3rem;

}

#ethereum {
    transform: scale(2) rotateY(45deg) rotateX(180deg);
}

#ripple {
    transform: scale(2) rotateY(10deg) rotateX(20deg);
}

#eos {
    transform: scale(2) rotateY(50deg) rotateX(190deg);
}



/* utility classes */
.table tr td {
    border: none;
}

.red {
    color: #ff2f2f;
    font-weight: 700;
}

.green {
    color: #1cbb1c;
    font-weight: 700;
}

.labels,
.graph {
    position: relative;
}

.green-label {
    background-color: #00b300;
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
}

.orange-label {
    background-color: #ffa500;
    color: #fff;
    font-weight: 600;
    font-size: 0.7rem;
}

.border-right {
    transform: scale(0.6);
    border-right: 1px solid black !important;
}

.box {
    transform: scale(1.5);
    background-color: #dbe2ff;
}

#top .table tbody tr {
    border-bottom: 1px solid #ddd;
}

#top .table tbody tr:last-child {
    border: none;
}

select {
    background-color: inherit;
    padding: 8px;
    border-radius: 5px;
    color: #444;
    border: 1px solid #444;
    outline-color: #00f;
}

.text-white {
    background-color: rgb(43, 159, 226);
    border-radius: 50%;
    font-size: 0.7rem;
    font-weight: 700;
    padding: 2px 3px;
}

a:hover {
    text-decoration: none;
}

a:hover .text-white {
    background-color: rgb(20, 92, 187);
}

/* Scrollbars */
::-webkit-scrollbar {
    width: 10px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #999, #777);
    border-radius: 10px;

}

.ca {
    margin-top: -70px;
}

.eye {
    background-color: #94D2BD;
}

.stefets-picture {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.stefets-picture:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}
footer{
    background-color: #4D908E;
    z-index: 2;
}
.li{
    list-style: none;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.557);
}
.li:hover{
    width: 138px;
    border-bottom: 2px solid black;
}
#qa{
    position: relative;
    top: -6px;
}
h4{
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.646);
}
footer p{
    color: rgba(255, 255, 255, 0.557);

}